.Hero{
    display: flex;
    margin-top: 50px;
    font-weight: 500;
}
.heroCenter{
    position: relative;
    width: 460px;
    height: 720px;
    /* border: 2px solid black; */
    background-image: url(../../images/imgBgHero.png);
}
.heroCenter button{
   position: absolute;
   bottom: 10px;
   left: -60px;
    background-color: #f93;
    color: #fff;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    font-size: 13px;
    transition: 0.3s all;
}
.heroCenter button:hover{
    background-color: #fff;
    color: #f93;
    border: 1px solid #f93;
    
}
.heroLeft{
    padding-left: 50px;
    padding-right: 50px;
    width: 430px;
}
.heroLeft h3{
    font-family: Noto Serif;
    font-size: 33px;
    font-weight: 500;
    line-height: 54px;
    letter-spacing: 0em;
    text-align: left;

}
.heroLeft p{
    margin-top: 65px;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;

}
.heroLeft p span{
    color: #40C3BA;
}

.linkList{
    margin-top: 118px;
}
.linkList li + li{
    margin-top: 50px;
}
.linkList a{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 40px;
    height: 40px;
    background-color: #cbcac4;
    color:#fff;
}

.heroRight{
    width: 33%;
    padding-left: 40px;
    position: relative;
}
.btnTop{
    display: flex;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    

}
.iconTelegramBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #40C3BA;
    margin-right: 25px;
}
.heroRight p{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 100px 0 100px 0;  
    margin-top: 70px;
    font-weight: 400;
    font-size: 15px;
}
.heroRight p span{
    color:#40C3BA;
}
.heroRight ul{
    position: absolute;
    bottom: 5px;
    right: 5px;
    display: flex;
}
.heroRight ul li{
    display: flex;
   
}
.heroRight ul li a{
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 40px;
    height: 40px;
    background-color: #cbcac4;
    color:#fff
}
.heroRight ul li + li{
    margin-left: 40px;
}