.reviews h3{
    font-family: Noto Serif;
    font-size: 30px;
    font-weight: 500;
    line-height: 41px;
    letter-spacing: 0em;
    text-align: center;
    position: relative;
}  
.reviews h3::after,
.reviews h3::before{
    content: '';
    position: absolute;
    top: 50%;
    bottom: 0;
    width: 160px; /* Ширина полосы сбоку от заголовка */
    height: 1px;
    background-color: #333; /* Цвет полосы */
}
.reviews h3::after{
    left :27%;
    top: 50%;
}
.reviews h3::before{
    right: 27%;
    top: 50%;
}  


.slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  
  button {
    font-size: 16px;
    padding: 8px 12px;
    cursor: pointer;
  }
.conteinerContentSlide{
  padding: 30px;
}
.conteinerContentSlide .top{
  display: flex;
  justify-content: space-between;
}
.conteinerContentSlide .top .left{
  display: flex;
  align-items: center;
}
.conteinerContentSlide .top .left h4{
font-family: Noto Serif;
font-size: 20px;
font-weight: 400;
line-height: 27px;
text-align: left;
margin-left: 20px;

}
.conteinerContentSlide .top .starConteiner{
  display: flex;
}
.conteinerContentSlide .center{
/* display: flex; */
margin-top: 30px;
font-family: Manrope;
font-size: 16px;
font-weight: 400;
line-height: 21.6px;
text-align: left;
text-overflow: ellipsis;
overflow: hidden;
max-height: 110px;
max-width: 550px;
}
.conteinerContentSlide .bottom{
  display: flex;
  margin-top: 30px;
}
.readMore{
  display: flex;
  align-items: center;
}
.readMore img{
  margin-left: 20px;
  margin-top: 2px;
}