


.header{
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    padding-left: 50px;
    
}
.navList{
    display: flex;
    height: 100%;
    /* margin-left: 251px; */
    font-size: 16px;
    
}
.telHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;

}
.navList a{
    color:#ccc;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 21.6px;
    font-family: Manrope;
    color:#CBCAC5;
    
}
.navList .active{
    color: #40C3BA;
    border-bottom: 2px solid #42423e;
    
}
.navList a + a {
    margin-left: 50px;
   
}
.registerButton{
    display: flex;
    font-family: Manrope;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;

}
.registerButton img{
    margin-right: 20px;
}